/* stylelint-disable */
//? Миксин для подключения шрифтов
//* Подробнее: https://developer.mozilla.org/ru/docs/Web/CSS/font-family

@mixin font-face($font-family, $weight, $style) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('@/assets/fonts/#{$font-family}.woff') format('woff');
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

//? Подключение шрифтов
@include font-face('PT-Serif-bold', 700, normal);
@include font-face('PT-Serif-regular', 400, normal);
